/* @override http://localhost/HTML_template/_css/style.css */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	font: 72px/84px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}
#mainMenu li {
	float: left;
	padding-right: 30px;
}
#mainMenu a {
	font: 24px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-decoration: none;
}
#mainMenu a:hover {
	text-decoration: underline;
}

div#header {
	width: 100%;
	max-width: 960px;
	background-color: #E52F00;
	padding: 50px;
	overflow: auto;
}


div.content {
	max-width: 960px;
	margin: auto;
	width: 100%;
	height: 1000px;
	padding: 50px;
	background-color: #400D00;
	
}

div.even {
	background-color: #7F1A00;
}

div#footer {
	width:100%;
	max-width: 960px;
	margin: auto;
	background-color: #BF2700;
	padding: 50px;
}


a{	

}
